.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Task List*/
.list {
  text-align: left;
  max-width: 95vw;
  margin: auto;
}

.list-search-box {
  width: 400px;
}

.list-active {
  background-color: #cce5ff;
  border-color: #b8daff;
}

.list-preview {
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
}

.list-preview-body {
  padding-top: 20px;
}

.list-preview-header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.action-button {
  margin-left: 10px;
}

.submit-form {
  max-width: 70vw;
  margin: auto;
}

.toast {
  margin-top: 20px;
}

.edit-form {
  max-width: 70vw;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
